.MotorPowerGraph {
  height: 40vh;
  width: 40vh;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 12px;
}

.MotorPowerGraphInnerContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
