.PIDPanelWrapper {
  /* height: 40vh; */
}
.PIDPanel {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* padding: 16px; */
}

.PIDPanel-hidden {
  display: none;
}

.PIDField {
  flex: 1;
}

.PIDApplyBtn {
  flex: 1;
}
.PIDInputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PowerPreviewGraph {
  flex: 1;
}
.PIDActionButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
